.background {
    -fx-background-position: center center;
    -fx-background-repeact: stretch;
}

.launchButton {
    -fx-background-color: rgb(237, 165, 21);
    -fx-border-radius: 0px;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.version-box {
    -fx-background-color: transparent;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5 5 5 5;
}

.version-box .list-view .list-cell {
    -fx-background-color: rgb(18, 18, 18);
    -fx-text-fill: white;
}

.version-box .cell {
    -fx-text-fill: #D3D3D3;
}